:root {
  --primary-100: #7DC5FB;
  --primary-200: #5da8dc;
  --primary-300: #006797;
  --accent-100: #7dc5fb;
  --accent-200: #006797;
  --text-100: #10a6f8;
  --text-200: #008ad9;
  --bg-100: #fefefe;
  --bg-200: #f4f4f4;
  --bg-300: #cbcbcb;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-200);
  /* color: var(--text-100); */
  /* text-align: center; */
}

.App-logo {
  height: 30px;
}

.App-link {
  color: var(--accent-100);
}
/* 
.navbar {
  background-color: var(--bg-100);
  color: var(--primary-100);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: var(--primary-300);
  padding: 10px 15px;
  text-decoration: none;
  margin: 0 10px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover,
.navbar a:focus {
  background-color: var(--primary-300);
  color: var(--bg-100);
  border-radius: 4px;
}

.navbar a.active {
  background-color: var(--accent-200);
  color: var(--bg-100);
  border-radius: 4px;
}

.nav-form {
  display: flex;
  align-items: center;
}

.nav-form input[type="text"],
.nav-form input[type="password"] {
  margin-right: 10px;
  padding: 5px;
} */

.nav-form button {
  padding: 5px 10px;
  background-color: var(--primary-300);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-form button:hover {
  background-color: var(--primary-200);
}

.footer {
  background-color: var(--bg-300);
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

main {
  display: flex;
  /* flex-direction: row; */
  /* flex-direction: column; */
  justify-content: space-around; /* Spaces children with equal space around them */
  align-items: flex-start; /* Aligns children at the start of the cross axis */

  padding-top: 10%;
  padding-bottom: 11%;
  
}


/* Individual container styling */
.description-container,
.video-container {
  flex: 1; /* Each child will take up equal space */
  max-width: 45%; /* Each child can take up to half of the parent's width */
}

.video-container {
  background-color: var(--bg-200);
  padding: 20px;
  text-align: center;
}

.description-title {
  text-align: center;
  font-size: 32px;
  color: var(--primary-300);
}

.description-body {
  text-align: justify;
  font-size: 18px;
  color: var(--primary-200);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-form {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-form input[type="text"],
  .nav-form input[type="password"],
  .nav-form button {
    width: 100%;
    margin-bottom: 10px;
  }


  .App-header,
  .video-container {
    padding: 10px;
  }

  .App-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
  }
  


  .description-container,
  .video-container {
    max-width: 100%; /* Each child can take up the full width of the parent */
  }

  .video-container video {
    width: 100%; /* Make the video responsive */
    height: auto; /* Maintain aspect ratio */
  }
}
/* Responsive adjustments for phones */
@media (max-width: 480px) {
  .App-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
  }
  .navbar {
    flex-direction: column;
  }


  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links.visible {
    display: flex;
  }

  .nav-toggle-button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }
  .nav-form input[type="text"],
  .nav-form input[type="password"],
  .nav-form button {
    display: none; /* Hide text boxes */
  }

  .video-container {
    width: 100%; /* Full-width video */
  }

  .video-container video {
    width: 100%;
    height: auto;
  }
}