:root {
  --primary-100: #7DC5FB;
  --primary-200: #5da8dc;
  --primary-300: #006797;
  --accent-100: #7dc5fb;
  --accent-200: #006797;
  --text-100: #10a6f8;
  --text-200: #008ad9;
  --bg-100: #fefefe;
  --bg-200: #f4f4f4;
  --bg-300: #cbcbcb;
}

.App {
  /* background-color: var(--bg-100); */
  background-color: var(--bg-200);
  color: var(--text-100);
  text-align: center;
}

.video-container {
  background-color: var(--bg-200);
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--primary-300); /* Updated color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--bg-100); /* Updated color */
}

.App-link {
  color: var(--accent-100); /* Updated color */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar {
  background-color: var(--bg-100);
  color: var(--primary-100);
  padding: 20px 20px;
  display: flex;
  justify-content: center; /* Center navbar items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for depth */
  display: flex;
  justify-content: space-between; /* Adjusts children elements to be at the start and end */
  align-items: center; /* Aligns items vertically */
}

.navbar a {
  color: var(--primary-300);
  padding: 10px 15px;
  text-decoration: none;
  margin: 0 10px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover,
.navbar a:focus {
  background-color: var(--primary-300); /* Lighter shade for hover */
  color: var(--bg-100); /* Text color change on hover */
  border-radius: 4px; /* Optional: rounds the corners */
}

.navbar a.active {
  background-color: var(--accent-200); /* Different color for active link */
  color: var(--bg-100);
  border-radius: 4px;
}

.nav-form {
  display: flex;
  align-items: center;
}

.nav-form input[type="text"],
.nav-form input[type="password"] {
  margin-right: 10px;
  padding: 5px;
}

.nav-form button {
  padding: 5px 10px;
  background-color: var(--primary-300);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-form button:hover {
  background-color: var(--primary-200);
}

.footer {
  background-color: var(--bg-300); /* Darker background */
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 60px; /* Set a fixed height for the footer */
}

main {
  min-height: 80vh; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  text-align: center; /* Center video */
}

/* Ensure the page is scrollable if content overflows */
body, html {
  height: 100%;
  margin: 0;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
